body {
	margin:0 0 0 0;
	padding:0 0 0 0;
}
.section {        
    position:relative;
    z-index:1;
    height:1200px;
    width:100%;
    background-attachment:fixed;    /* this keeps the background in place */
    background-size:cover;
    background-repeat:no-repeat;
    background:url(images/beans.jpg);
}
.content {
	height:500px;
	width:100%;
    position:relative;
    z-index:2;
    overflow:auto;
}
.content p {
	color:rgba(255,255,255,0);
	clear:left;
	background-color:rgba(255,255,255,0);
}
.content p:hover {
	color:rgba(255,255,255,1);
	clear:left;
	background-color:rgba(255,255,255,0.2);
}