body{




.bak1



.bmeter {
position: fixed;
top: 0px;
left: 0px;
width: 0%;
height: 15px;
background-color: #fff;
opacity: 0.5;
z-index: 10;
}
	



	}
.block1 {
	background-image:url('bildeFull.png');
}
@media screen and (max-width:500px) {
	body{
		background-color:red;
	}
	.block1 {
		background-image:url('bildeSmall.png');
	}
}