#kaffevelger label {
display: inline-block;
background-color:#000;
color:#fff;
padding:2%;
margin: 2%;
border-radius:2px;
}
.tilbWrap {
	float:left;
	width:22%;
    display:block;
    font-family:Arial;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.4);
}
.kaffeTilbBilde {
	width:50%;
}
#kaffevelger input[type="radio"]:checked + label { 
    background:red !important;
}
input[type="radio"] {
    display:none;
}
.kaffe {
	width:240px;
}
.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bbb;
}
#kaffeForm {
    background-color:#855E42;
    float:left;
    width:20%;
    border-radius: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-bottom: 2%;
}
#kaffeForm h3 {
    color:#000;
    font-family:'Fjalla One', sans-serif;
    font-size: 200%;
    margin-bottom: 3%;


}
#maskinliste {
    float:right;
    width: 70%;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    background-color:#855E42;
    border-radius: 2%;
}
#maskinliste li:nth-child(4n+5) {
    clear:left;
}
#kaffeForm label {
    margin-top:10px;
    font-family:Arial;
}
#maskinliste li p, #maskinliste li h3 {
    color:#000;
}

#maskinliste h3{
    font-family:'Fjalla One', sans-serif;
    font-size: 200%;
}
@media all and (max-width: 480px) { 
    #kaffeForm {
        float:left;
        width:90%;
        margin-left:5%;
    }
    .tilbWrap {
        width:45%;
        margin-left:5%;
    }
    #maskinliste li:nth-child(2n+3) {
        clear:left;
    }
}