#kaffevelger label {
display: inline-block;
background-color:#000;
color:#fff;
}
.tilbWrap {
	float:left;
	width:22%;
    display:block;
    font-family:Arial;
}
.kaffeTilbBilde {
	width:20%;
}
#kaffevelger input[type="radio"]:checked + label { 
    background:red !important;
}
input[type="radio"] {
    display:none;
}
.kaffe {
	width:240px;
}
.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bbb;
}
#kaffeForm {

    float:left;
    width:20%;
}
#kaffeForm h3 {
    color:#000;
    font-family:'Fjalla One', sans-serif;
    font-size: 110%;


}
#maskinliste {
    float:left;
    width: 80%;
    padding-left: 0;
}
#maskinliste li:nth-child(4n+5) {
    clear:left;
}
#kaffeForm label {
    margin-top:10px;
    font-family:Arial;
}
#maskinliste li p, #maskinliste li h3 {
    color:#000;
}

#maskinliste h3{
    font-family:'Fjalla One', sans-serif;
    font-size: 110%;
}
@media all and (max-width: 480px) { 
    #kaffeForm {
        float:left;
        width:90%;
        margin-left:5%;
    }
    .tilbWrap {
        width:45%;
        margin-left:5%;
    }
    #maskinliste li:nth-child(2n+3) {
        clear:left;
    }
}