#kaffevelger label {
display: inline-block;
background-color:#000;
color:#fff;
padding:2%;
margin: 2%;
border-radius:5px;
}
.tilbWrap {
    float: left;
	width:22%;
    display:block;
    font-family:Arial;
    margin:1%;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    padding-right: 1px; 
    padding-left: 4px;   
}
.kaffeTilbBilde {
    margin-left: auto;
    margin-right: auto;
	width:90%;
}
.tilbText{
    border-radius: 5px;
}
#kaffevelger input[type="radio"]:checked + label, #showAll:checked + label  { 
    background:red !important;
}
#showAll + label{
    font-size: 105%;
    font-weight: bold;
    width: 80%;
    margin-left: 0px;
}
label#showAll  {
    font-size:220%;
}
input[type="radio"], input[type="checkbox"] {
    display:none;
}
.kaffe {
	width:240px;
}
.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bbb;
}
#kaffeForm {
    background-color:#8E6B23;
    float:left;
    width:20%;
    border-radius: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-bottom: 2%;
}
#kaffeForm h3 {
    color:#000;
    font-family:'Fjalla One', sans-serif;
    font-size: 140%;
    margin-bottom: 3%;


}
#maskinliste {
    float:right;
    width: 70%;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    background-color:#8E6B23;
    border-radius: 2%;
}
#maskinliste li:nth-child(4n+5) {
    clear:left;
}
#kaffeForm label {
    margin-top:10px;
    font-family:Arial;
}
#maskinliste li p, #maskinliste li h3 {
    color:#000;
}

#maskinliste h3{
    font-family:'Fjalla One', sans-serif;
    font-size: 140%;
    margin-bottom: 3%;

}
@media all and (max-width: 900px) { 
    #kaffeForm {
        float:left;
        width:90%;
        margin-left:5%;
    }
    .tilbWrap {
        width:45%;
    }
    #maskinliste li:nth-child(2n+3) {
        clear:left;
    }
    #maskinliste li {
        border-radius: 5px;
        background-color:rgba(255,255,255,0.4)
    }
    .tilbWrap p {
        background:none;
    }
    #maskinliste {
        float:left;
        margin-left: 5%;
        width:90%;
    }
    #showAll + label{ 
        width:auto;
    }
    #maskinliste h3 {
        font-size:16px;
    }
    #maskinliste p {
        font-size:14px
    }
    #maskinliste p {
        padding:4px;
    }
    #maskinliste img {
        width:100%;
    }
}