/***
 *      _______           _       _          _         
 *     |__   __|         | |     | |        | |        
 *        | |      __ _  | |__   | |   ___  | |_   ___ 
 *        | |     / _` | | '_ \  | |  / _ \ | __| / __|
 *        | |    | (_| | | |_) | | | |  __/ | |_  \__ \
 *        |_|     \__,_| |_.__/  |_|  \___|  \__| |___/
 *                                                     
 *                                                     
 */
@media all and (max-width: 1024px) and (min-width:480px) { 
		#photo, #photo2 {
		background:none;
	}
	#filler {
		height:auto;
	}
	#photo,#photo2 {
		padding-top:0;
	}
	nav a {
		font-size:100%;
		letter-spacing: 0px;
	}
	.content h3, #oppdagelsen h3, #kaffetilnorge h3, #hvordankaffen h3, #helse h3, #koffein h3, #merkoffein h3, #ordetkaffe h3, #kaffeansvar h3 {
		font-size:400%;
		letter-spacing: 5px;
	}
	#prodland h3 {
		font-size:180%;
		letter-spacing: 5px;		
	}
	#caption {
		float:left;
		position:relative;
	}
	#caption2 {
		width:100%;
		margin-left:0%;
		position:relative;
		float:left;

	}
	#caption2 h3, #caption2 p {
		width:90%;
		margin-left:5%;
	}
	.content p, #kaffetilnorge p, #oppdagelsen p, #hvordankaffen p, #helse p, #koffein p, #kaffeansvar p {
		font-size:110%;
	}	
	.block0 h1 {
		margin-left:30px;
		margin-top:19%;
		font-size:400%;

	}
	.block0 h2 {
		font-size:200%;
	}


	#kaffevelgerheader {
		font-size:400%;
	}
	#ordetkaffe h3{
		font-size: 400%;
	}

	#prodland {
		width:70%;
		margin-left:25%;
	}
	#helseinfo li {
		font-size:120%;
		padding:2%;
	}
	table{
		width: 100%;
	}
	td {
		width:auto;
	}
	#bak0{
	    background: url(images/background/900/1874968239_5ec7cd1eef_o.jpg) 100% 0 no-repeat fixed;  /*BYTT bilde, skal være kaffekopp med overskrift*/
	}    
	#bak1{
	    background:none; /* kaffebønne med gul bakgrunn*/
	    background-color:#ceaf06; /* kaffebønne med gul bakgrunn*/	
	}
	#bak2{
/*	    background: url(images/background/900/1424445_10152028026882139_716846569_n.jpg) 100% 0 no-repeat fixed; /*fjell til vann*/
	}
	#bak3{
	    background: url(images/background/900/1401901_10152028027422139_1551925132_o.jpg) 100% 0 no-repeat fixed;  /*vann til Himmel til bakken*/
	}
	#bak4{
	    background: url(images/background/900/3297949680_f7f64e11f7_o.jpg) 100% 0 no-repeat fixed;  /* kaffesekk*/
	}
	#bak5{
	    background: url(images/background/900/3367777051_a18a02c53d_o.jpg) 100% 0 no-repeat fixed;  /* kaffepulver */
	}
	#bak6{
	    background: url(images/background/900/423580043_4d6302fb42_occaffeine3.jpg) 100% 0 no-repeat fixed;  /* Kaffemoleky */
	}
	#bak7{
	    background: url(images/background/900/6085694779_9a49e657f5_o.jpg) 100% 0 no-repeat fixed;  /* kaffesekk med rødt merke*/
	}
	#bak8{
	    background: url(images/background/900/10502752753_673727d16b_o.jpg) 100% 0 no-repeat fixed;  /*uteligger*/
	}
	#bak9{
	    background: url(images/background/900/4448779926_b9329c1568_o.jpg) 100% 0 no-repeat fixed;  /*gul kaffekopp*/
	}
	#bak10{
	    background: url(images/background/900/8112875566_653aab9940_o.jpg) 100% 0 no-repeat fixed;  /*putesekk*/
	}
	#bak11{
	    background: url(images/background/900/4048845899_db46e5d2d8_o.jpg) 100% 0 no-repeat fixed;  /*Kjedelig kaffekopp*/
	}
	#bak12{
	    background: url(images/background/900/423580043_4d6302fb42_occaffeine3.jpg) 100% 0 no-repeat fixed;  
	}

}
/***
 *      _____    _                                  
 *     |  __ \  | |                                 
 *     | |__) | | |__     ___    _ __     ___   ___ 
 *     |  ___/  | '_ \   / _ \  | '_ \   / _ \ / __|
 *     | |      | | | | | (_) | | | | | |  __/ \__ \
 *     |_|      |_| |_|  \___/  |_| |_|  \___| |___/
 *                                                  
 *                                                  
 */
@media all and (max-width: 480px) {

	q {
		font-size:60%;
	}

	#photo, #photo2 {
		background:none;
		padding-top:0;
	}
	#caption {
		float:left;
		width:90%;
		margin-left:0;
		position:relative;		
	}
	#caption2 {
		float:left;
		clear:left;
		position:relative;
	}
	#caption2 {
		width:100%;
		margin-left:0;
	}
	#caption2 h3 {
		font-size:180%;
	}
	#caption2 p {
		float:left;
		width:90%;
		margin-left:5%;
	}
	nav a {
		font-size:10px;
    letter-spacing: 0px;
	}
	.content h3, #oppdagelsen h3, #kaffetilnorge h3, #hvordankaffen h3, #helse h3, #koffein h3, #merkoffein h3, #ordetkaffe h3, #prodland h3, #kaffeansvar h3 {
		font-size:130%;
		letter-spacing: 5px;
	}
	.content p, #kaffetilnorge p, #oppdagelsen p, #hvordankaffen p, #helse p, #koffein p, #kaffeansvar p {
		font-size:90%;
	}
	.block0  {
		height:320px;
	}
	.block0 h1 {
		margin-left:30px;
		margin-top:80px;		
		font-size:200%;
	}
	.block0 h2 {
		font-size:80%;
	}

	#intro {
		width:90%;
	}
	#intro h3 {
		font-size:170%;
	}
	#kaffetilnorge {
		width:90%;
	}

	#oppdagelsen h3 {
		font-size: 200%;
		letter-spacing: 5px;
	}

	#helse {
		width:90%;
		margin-left:5%;
	}

	#helseinfo li {
		font-size:120%;
	}

/*	#helse h3 {
		font-size:200%;
		letter-spacing:5px;
	}*/
	.toppListe {
		width:89%;
		margin-left:0%;
	}

	#koffein {
		width:90%;
		margin-left:5%;
	}
	#koffein h3 {
		font-size:200%;
		letter-spacing:5px;
	}

	#hvordankaffen {
		width:90%;
		margin-left:5%;
	}

	#hvordankaffen h3 {
		 font-size:200%;
		 letter-spacing:5px;
	}
	#hvordankaffen p {
		font-size:120%;
	}	
	#hvordankaffen p:not(.linkP) {
		background-color:rgba(0,0,0,0.4);
	}

	#merkoffein {
		width:90%;
		margin-left:5%;
	}

	#ordetkaffe, #prodland, #kaffeogsamfunn, #kaffeansvar {
		width:90%;
		margin-left:2%;
	}
	
	#ordetkaffe h3, #ordetkaffe p:not(.linkP), #prodland h3, #prodland p:not(.linkP), #kaffeogsamfunn h3, #kaffeogsamfunn p:not(.linkP), #kaffeansvar h3, #kaffeansvar p:not(.linkP) {
		background-color:rgba(0,0,0,0.1);
		color:#fff;
	}

	#kaffevelgerheader {
		font-size:200%;
	}
	table{
		width:100%;
	}

	#bak0{
	    /*height: 780px;*/
	    background: url(images/background/480/1874968239_5ec7cd1eef_o.jpg) 100% 0 no-repeat fixed;  /*BYTT bilde, skal være kaffekopp med overskrift*/
	}    
	#bak1{
		background:none;
	    background-color:#ceaf06; /* kaffebønne med gul bakgrunn*/
	}
	#bak2{
	    /*background: url(images/background/480/1424445_10152028026882139_716846569_n.jpg) 100% 0 no-repeat fixed; /*fjell til vann*/
	}
	#bak3{
	    background: url(images/background/480/1401901_10152028027422139_1551925132_o.jpg) 100% 0 no-repeat fixed;  /*vann til Himmel til bakken*/
	}
	#bak4{
	    background: url(images/background/480/3297949680_f7f64e11f7_o.jpg) 100% 0 no-repeat fixed;  /* kaffesekk*/
	}
	#bak5{
	    background: url(images/background/480/3367777051_a18a02c53d_o.jpg) 100% 0 no-repeat fixed;  /* kaffepulver */
	}
	#bak6{
	    background: url(images/background/480/423580043_4d6302fb42_occaffeine3.jpg) 100% 0 no-repeat fixed;  /* Kaffemoleky */
	}
	#bak7{
	    background: url(images/background/480/6085694779_9a49e657f5_o.jpg) 100% 0 no-repeat fixed;  /* kaffesekk med rødt merke*/
	}
	#bak8{
	    background: url(images/background/480/10502752753_673727d16b_o.jpg) 100% 0 no-repeat fixed;  /*uteligger*/
	}
	#bak9{
	    background: url(images/background/480/4448779926_b9329c1568_o.jpg) 100% 0 no-repeat fixed;  /*gul kaffekopp*/
	}
	#bak10{
	    background: url(images/background/480/8112875566_653aab9940_o.jpg) 100% 0 no-repeat fixed;  /*putesekk*/
	}
	#bak11{
	    background: url(images/background/480/4048845899_db46e5d2d8_o.jpg) 100% 0 no-repeat fixed;  /*Kjedelig kaffekopp*/
	}
	#bak12{
	    background: url(images/background/480/423580043_4d6302fb42_occaffeine3.jpg) 100% 0 no-repeat fixed;  
	}

}