body{
margin: 0;
padding: 0;
height: 12000px;
color: white;
}


h1{
font-family: arial, sans-serif, verdana;
font-size: 500%;
margin-left: 18%;
margin-top:25%;
margin-bottom:5%; 
}


#love{
	font-family: arial, sans-serif, verdana;
	font-size: 50px;

}
h2{
font-family: arial, sans-serif, verdana;
font-size: 30px;
margin-left:30%;
}
/*p{
display: none;
}*/
/*p{
color: red;
width: 40%;
position: absolute;
left: 20%;
top: 25%;
font-size: 50px;
}*/
/*.wrap{
position:fixed;
width:100%;
height:100%;
}*/
.bak1, .bak2, .bak3{
display:block;
position:absolute;
}

.bak1{
width: 110%;
height: 200%;

background:url(images/255406114_ddf3ebe9f6_o.jpg) top center no-repeat;

left:0%;
position:absolute;
z-index:-1;
background-size: cover;

}
.bak2{
width: 100%;
height: 200%;
background:url(images/5882139013_7c6d68b520_o.jpg) top center no-repeat;

left:0%;
position:absolute;
z-index:-1;
background-size: cover;
}
.bak3{
width: 100%;
height: 200%;
background:url(images/8112875566_653aab9940_o.jpg) top center no-repeat;

left:0%;
position:absolute;
z-index:-1;
background-size: cover;
}

.bak4{
width: 100%;
height: 200%;
background:url(images/beans.jpg) top center no-repeat;
top:600%;
left:0%;
position:absolute;
z-index:-1;
background-size: cover;
}

.bak5{
width: 100%;
height: 200%;
background:url(images/6085694779_9a49e657f5_o.jpg) top center no-repeat;
top:800%;
left:0%;
position:absolute;
z-index:-1;
background-size: cover;
}

.bak6{
width: 100%;
height: 200%;
background:url(images/423580043_4d6302fb42_occaffeine3.jpg) top center no-repeat;
top:1000%;
left:0%;
position:absolute;
z-index:-1;
background-size: cover;
}
/*.bak4{
width: 100%;
height: 110%;
background:url(images/beans4.jpg) top center no-repeat;
top:0%;
left:0%;
position:absolute;
z-index:-1;
background-size: cover;
}*/
.bmeter {
position: fixed;
top: 0px;
left: 0px;
width: 0%;
height: 15px;
background-color: #fff;
opacity: 0.5;
z-index: 10;
}
.arrow {
position: fixed;
top: 82%;
left: 50%;
width: 10px;
height: 15px;
text-align: center;
opacity: 0.6;
z-index: 10;
font-size: 130px;
}
/*#intro{
	position: fixed;
	top: 82%;
left: 50%;
width: 10px;
height: 15px;
text-align: center;
color: blue;*/

}
/*
.block1 {
	background-image:url('bildeFull.png');
}
@media screen and (max-width:500px) {
	body{
		background-color:red;
	}
	.block1 {
		background-image:url('bildeSmall.png');
	}
}
*/