body{
	background-color: #f6f6f6;
}

header{
	background-color: #151515;
	margin-bottom: 5%;
}

#header{
	color:white;
	font-size: 500%;
	height: 20%;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}

nav{
	float:left;
	width: 17%;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	font-family: Arial;
	font-size: 200%;
}

nav a{
	text-decoration: none;
}

#bilder{
	float:right;
	width: 25%;
}
#content{
	width: 50%;
	float: left;
	padding:3%;
}

}
table td{
	padding: 2px;
}
