#header{
	font-size: 500%;
	height: 20%;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;

}

nav{
	float:left;
	width: 17%;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	font-size: 200%;

}

#bilder{
	float:right;
	width: 25%;
}
#content{
	width: 50%;
	float: left;
	padding:3%;
}
