#kaffevelger label {
display: inline-block;
background-color:#000;
color:#fff;
}
.tilbWrap {
	float:left;
	width:220px;
}
.tilbWrap:nth-child(5n+6){
	clear:left;
}
.kaffeTilbBilde {
	width:120px;
}
#kaffevelger input[type="radio"]:checked + label { 
    background:pink !important;
}
input[type="radio"] {
    display:none;
}
.kaffe {
	width:240px;
}
.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bbb;
}