body{
	
	}
.block1 {
	background-image:url('bildeFull.png');
}
@media screen and (max-width:500px) {
	body{
		background-color:red;
	}
	.block1 {
		background-image:url('bildeSmall.png');
	}
}

h1{
	font-family: arial;
	font-size: 60px;
}