body
	{
	background-color:gray;
	}
	
h1
	{
	text-align: center;
	font-family:"Lucida Console", monospace;
	font-size: 34px;
	}

h2	
	{
	font-family:"Lucida Console", monospace;
	font-size: 21px;
	}
	
h3
	{
	font-family:"Lucida Console", monospace;
	font-size: 17px;

	}
	
p
	{
	font-family:"Lucida Console", monospace;
	font-size: 20px;
	text-align: center;
	}
	
.innhold
	{
	border:2px solid black;
	position: absolute;
	left: 20%;
	right: 20%;
	top: 20%;
	margin: 20px;
	padding: 20px;	
	background-color: white;
	}


.dokument
	{
	border: 2px solid black;
	float: left;
	margin: 2px;
	padding: 5px;
	position: fixed;
	left: 0%;
	background-color: white;
	}

.gruppemedlemmer
	{
	border: 2px solid black;
	float: right;
	margin: 2px;
	padding: 5px;
	position: fixed;
	right: 0%;
	background-color: white;
	}	
	
a:link
	{
	color:black;
	}
	
a:visited
	{
	color: grey;
	}